/* INPUTS */
.field {
  > div {
    display: flex;
    align-items: center;
  }
  .fa,
  .fal {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    border-radius: 8px;
  }
  // textarea,
  // input[type="text"],
  // input[type="password"],
  // input[type="email"],
  // input[type="url"],
  // input[type="tel"],
  // input[type="number"],
  // input[type="date"],
  // input[type="datetime"] {
  //   width: 100%;
  //   background: #333;
  //   color: #fff;
  //   // padding: 5px 10px;
  //   padding: 10px;
  //   transform-origin: center left;
  //   resize: none;

  //   &::placeholder {
  //     color: #ddd;
  //   }
  // }
}

.toggle {
  display: block;
  position: relative;
  overflow: hidden;
  width: var(--tw, 160px);
  height: var(--th, 60px);
  border-radius: 6px;
  // border: 1px solid #000;
  background-color: #f5f5f5;

  input[type="checkbox"] {
    display: none;
  }
  .slides {
    position: relative;
    height: auto;
    width: calc(var(--tw, 160px) * 2);
    display: inline-block;
    text-align: left;

    .slide {
      float: left;
      width: var(--tw, 160px);
      height: var(--th, 60px);
      transition: 0.3s;
      display: flex;

      > * {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
      .text,
      label {
        flex-grow: 1;
        line-height: var(--th, 1);
        &.tg-btn {
          // border: 1px solid black;
          text-align: center;
          color: #fff;
          font-weight: bold;
          // background: var(--red);
        }
      }
      .text {
        padding: 0 8px;
      }
    }
  }

  input[type="checkbox"]:checked ~ .slides .slide {
    background-color: var(--red);
    transform: translateX(calc(-1 * var(--tw, 160px)));
  }

  &.blue {
    input[type="checkbox"]:checked ~ .slides .slide {
      background-color: var(--yellow);
    }
  }
}

[data-empty]:empty::before {
  content: attr(data-empty);
  position: absolute;
  width: 100%;
  // background: red;
  text-align: center;
  padding: 20px 0;
}

/****************************
*
*   ACCOUNTS MODAL WINDOW
*
*****************************/

.modal {
  .modal-box {
    position: fixed;
    // min-height: 70vh;
    // max-height: 90vh;
    // min-height: 100%;
    min-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    background-color: #fff;
    color: #000; 
    opacity: 0;
    box-shadow: 0 0 0 100vw rgba(black, 0.25);
    border-radius: 10px;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    z-index: -50;
    padding: 0;
    // min-height: 80vh;

    &.bdrsn {
      border-radius: 0;
    }

    > .close {
      position: absolute;
      top: 0;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      box-shadow: inset 0 0 0 4px var(--body);
      transform: translate(-5%, 5%);
      background-color: var(--blue);
      z-index: 55;

      &::before {
        content: "\f00d";
        font-family: "Font Awesome 5 Pro";
        font-weight: 200;
 
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }

    .modal-content {
      flex-grow: 1;
      padding: 45px 20px 20px 20px;
      overflow-x: hidden;
      overflow-y: scroll;

      img {
        width: 100%;
        height: auto;
      }
    }

    &.full {
      top: unset;
      bottom: 0;
      left: unset;
      transform: translate(-100%, 0);
      border-radius: 0;
      .modal-content {
        height: 100vh;
        width: calc(100vw - 60px);
        // display: flex;
        // align-items: center;
      }
    }
  }

  input:checked ~ .modal-box {
    opacity: 1;
    z-index: 60;
  }
}
.sectionmodals {
  background: #fff;
  & > * {
    // background:red;
    padding-bottom: 100%;
    position: relative;
    border: 1px solid var(--bdcolor);
    border-radius: 8px;

    &:hover {
      background-color: var(--blue);
      color: #fff;
    }

    > div {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      i {
        font-size: 2rem;
      }
      span {
        display: block;
        font-size: 61.8%;
        // font-weight: bold;
      }
    }
  }
}
// label {
// display: block;
// margin-top: 10px;
// }
iframe,
form {
  width: 100%;
}

button.btn input[type="submit"],
input[type="submit"].btn,
.btn,
.button {
  font-family: "Font Awesome 5 Pro", "Ubuntu", sans-serif;
  font-weight: 300;
  position: relative;
  padding: 5px 10px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  // margin-top: 1em;
  // margin-bottom: 2em;
  display: inline-block;
  &.delete {
    background-color: var(--red);
    border-color: var(--red);
  }
}

.__editor,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="url"],
input[list] {
  // width: 100%;
  // min-height: 40px;
  // margin-top: .5em;
  // // margin-bottom: 2em;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // padding: 0 5px ;

  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: sans-serif;
}
// textarea {
// min-height: 150px;
// }

.__editor,
.__toolbar,
.__toolbar .__toolbar-item,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="url"],
input[list] {
  border: 1px solid var(--bdcolor) !important;
  border-radius: 5px;
}

.__toolbar {
  background-color: #fff;
  position: sticky;
  top: 0;
}
.__editor {
  flex-grow: 1;
  // margin: 20px !important;
  padding: 20px !important;
  margin-bottom: 1rem;

  & + .__toolbar {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s;
  }
  &:focus + .__toolbar {
    background-color: red;
    opacity: 1;
    transform: translateY(0);
  }
}

.google {
  * {
    font-family: arial, sans-serif;
  }
  ul {
    list-style: none;
    li {
      font-size: 14px;
      line-height: 1.3;
      color: #202124;

      &:not(:empty) {
        &:last-child {
          &::after {
            content: "\f0d7";
            font-family: "Font Awesome 5 Pro";
            margin-left: 5px;
          }
        }
      }
      &:empty {
        &::before {
          content: "\f0d7";
          font-family: "Font Awesome 5 Pro";
          margin-right: 5px;
        }
        &::after {
          content: "Métadonnées";
        }
      }
    }
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    color: #4d5156;
    -webkit-line-clamp: 2;
    font-weight: normal;
    line-height: 1.58;
    font-size: 14px;
  }
}

.generate {
  height: 30px;
  width: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
  }

}